<div class="row">

  <div class="col-md-6">
    <div class="well">
      <%= bootstrap_form_for @job do |f| %>

      <% if current_user.errors.any? %>
          <div id="error_explanation" class="errors">
            <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.text_field :title %>
        <%= f.text_field :company_name %>
        <%= f.text_area :description %>
        <%= f.text_field :location %>
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Select Category'%>
        <%= f.label "Skills Needed" %>
        <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name, label: (fa_icon 'cogs-o 2x') %>
        <%= f.fields_for :skills, @job.skills.build do |skills_fields| %>
          <%= skills_fields.text_field :name, label: "Another Skill (Optional)", placeholder: "Add a new skill here..." %>
        <% end %>
        <%= f.url_field :url, placeholder: "http//...", label: "Url (Optional)" %>
        <%= f.hidden_field :user_id, :value => current_user.id unless :user_id %>
        <%= f.submit class: "btn btn-primary btn-outline btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
