<div class="col-sm-3">
  <div class="panel panel-default filter">
    <div class="panel-heading">Filter Jobs</div>
    <div class="panel-body">
      <%= bootstrap_form_tag url: '/jobs', method: 'get' do %>
        <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), include_blank: "Select Category", class: "btn btn-default btn-lg dropdown-toggle"%>
        <%= select_tag "location", options_for_select(@locations), include_blank: "Select Location", class: "btn btn-default btn-lg dropdown-toggle"%>
        <%= submit_tag "Filter", class: "btn btn-primary btn-outline btn-sm" %>
      <% end %>
    </div>
  </div>

  <%if current_user %>
  <div class="panel panel-default filter">
    <div class="panel-heading"><%= fa_icon 'briefcase' %> My Account</div>
    <div class="panel-body">
      <% if current_user.user? %>
        <%= link_to "My Applications", user_job_applications_path(current_user) if current_user%>
      <% elsif current_user.company? %>
        <%= link_to "My Job Offers", dashboard_path %>
      <% end %>
    </div>
  </div>
  <% end %>
</div> <!-- End col-sm-3 -->

<div class="col-sm-6">
  <% if @jobs.empty? %>
    <h1>Sorry, no jobs found.</h1>
  <% else %>
    <% @jobs.each do |job| %>
    <div class="well">
      <h3><%= link_to job.title, job_path(job)%></h3>
      <small><%= job.company_name %> | <%= job.posting_date %> | <%= fa_icon "map-marker" %> <%= job.location %> </small>
      <p><%= sanitize(truncate(job.description, length: 150)) %></p>
    </div>
  <% end %>
  <% end %>
  <%= paginate @jobs %>
</div> <!-- end col-sm-6 -->

<div class="col-sm-3">
  <div class="panel panel-default">
    <div class="panel-heading">Latest Jobs</div>
      <div class="panel-body">
        <% @latest_jobs.each do |job| %>
          <small><%= job.location%></small> | <small><%= job.posting_date %></small>
          <h5><%= link_to job.title, job_path(job) %></h5>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- end col-sm-3 -->
