<h1>Jobs</h1>

<% @jobs.each do |job| %>
<div class="well">
  <h2><%= job.title%></h2>
  <h4>Description:</h4>
  <p><%= job.description %></p>
  <h4>Company:</h4>
  <p><strong><%= job.company %></strong></p>
  <h4>Location:</h4>
  <p><%= job.location %></p>
  <h4>Url:</h4>
  <p><%= job.url %></p>
</div>
<% end %>
