<div class="col-sm-3">

  <div>
    <h3>Filter Jobs:</h3>
    <%= bootstrap_form_tag url: '/jobs', method: 'get' do %>
      <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), include_blank: "Select Category", class: "btn btn-default btn-lg dropdown-toggle"%>
      <%= select_tag "location", options_for_select(@locations), include_blank: "Select Location", class: "btn btn-default btn-lg dropdown-toggle"%>
      <%= submit_tag "Filter", class: "btn btn-primary btn-outline btn-sm" %>
    <% end %>
  </div> <!-- End Filter jobs -->

</div>

<div class="col-sm-6">
  <h1>Jobs</h1>
  <% @jobs.each do |job| %>
  <div class="well">
    <h3><%= link_to job.title, job_path(job)%></h3>
    <small><%= job.company %> | <%= job.posting_date %> | <%= fa_icon "map-marker" %> <%= job.location %> </small>
    <p><%= sanitize(truncate(job.description, length: 150)) %></p>
  </div>
  <% end %>
  <%= paginate @jobs %>
</div> <!-- end col-sm-6 -->

<div class="col-sm-3">

</div><!-- end col-sm-3 -->
