<div class="col-sm-3">

</div>

<div class="col-sm-6">
  <h1>Jobs</h1>
  <% @jobs.each do |job| %>
  <div class="well">
    <h3><%= link_to job.title, job_path(job)%></h3>
    <small><%= job.company %> | <%= job.posting_date %> | <%= fa_icon "map-marker" %> <%= job.location %> </small>
    <p><%= sanitize(truncate(job.description, length: 150)) %></p>
  </div>
  <% end %>
  <%= paginate @jobs %>
</div>

<div class="col-sm-3">

</div>
