<div class="row">

  <div class="col-sm-8">
    <div class="well">
      <h1><%= @job.title %></h1>
      <p><%= @job.location %></p>
      <p>Posted: <%= @job.created_at.strftime("%A, %b %d") %></p>
      <h3>Company:</h3>
      <p><%= @job.company %></p>
      <h4>Description:</h4>
      <p><%= @job.description %></p>

      <div class="row">
        <div class="col-sm-10">
          <p>Company Url: <%= link_to @job.url, "http://#{@job.url}" %></p>
        </div>
        <div class="col-sm-2">
          <%= button_to "Apply", jobs_path, method: "get", class: "btn btn-primary btn-outline btn-md" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">

    </div>
  </div>

</div>

<%= button_to "Back", jobs_path, method: "get", class: "btn btn-primary btn-outline btn-sm" %>
