<div class="row">
  <div class="col-md-8">
  <!-- TODo -->
  </div>
  <div class="col-md-4">
    <div class="well">
      <h2>Forgot your password?</h2>

      <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
          <%= f.email_field :email, autofocus: true %>
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-outline btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
