<div class="col-sm-9">
  <div class="well job-application">
    <div class="row">
      <div class="col-sm-10">
        <h1 id="title"><%= @job_application.job.title %></h1>
      </div>
      <div class="col-sm-2">
        <a class="btn btn-primary btn-outline btn-sm next" href="#" data-id="<%=@job_application.id%>" data-userId="<%=@current_user.id%>" >Next</a>
      </div>
    </div>
    <small id="posted">Posted: <%= @job_application.job.posting_date %></small>
    <h4><span class="label label-default category"><%= @job_application.job.category.name %></span></h4>
    <h3>Company:</h3>
    <p id="info"><%= fa_icon "industry" %> <%= @job_application.job.company_name.capitalize %> | <%= fa_icon "map-marker" %> <%= @job_application.job.location %></p>
    <h4>Description:</h4>
    <p id="description"><%= @job_application.job.description %></p>
    <h5 id="url">Company Url: <%= link_to @job_application.job.url, "http://#{@job_application.job.url}" %></h5>


    <div class="row">
      <div class="col-sm-6 skills">
        <h4>Skills Required:</h4>
        <% @job_application.job.skills.each do |skill| %>
          <small><%= skill.name %> | </small>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Back", 'javascript:history.go(-1);', class: "btn btn-primary btn-outline btn-sm" %>
</div>

<div class="col-sm-3">
  <div class="panel panel-default">
    <div class="panel-heading">Latest Jobs</div>
      <div class="panel-body">
        <% @jobs.each do |job| %>
          <small><%= job.location%></small> | <small><%= job.posting_date %></small>
          <h5><%= link_to job.title, job_path(job) %></h5>
        <% end %>
      </div>
  </div>
</div>

<script type="text/javascript">

  // Get user Id
  var userId = $('.next').attr('data-userId')

  var jobs = []
  var idsArray = []
  // Get All User Job Applications (AJAX)
  $.get('/users/'+ userId +'/job_applications.json', function(data) {
    $.each(data, function(index, jobApp) {
      var newJob = new Job (jobApp.id, jobApp["job"]["title"], jobApp["job"]["description"],
      jobApp["job"]["company_name"], jobApp["job"]["url"], jobApp["job"]["location"],
      jobApp["job"]["created_at"], jobApp["job"]["category"]["name"])
      jobs.push(newJob);
      idsArray.push(newJob.id)
    })
  });

  $('.next').on('click', function(event) {
    var jobId = parseInt($('.next').attr('data-id'))
    var maxIndex = idsArray.length - 1
    var nextIdindex = idsArray.indexOf(jobId) + 1

    // Check if is the last job Application and start over
    if (nextIdindex > maxIndex) {
      nextIdindex = 0
    }

    //Job to show when click
    var nextJob = jobs[nextIdindex]
    // Add New HTML to the DOM
    $('h1#title').html(nextJob.title);
    $('small#posted').html('Posted: '+ nextJob.createdAt());
    $('span.category').html(nextJob.category)
    $('p#info').html('<i class="fa fa-industry"></i> ' + nextJob.companyName + ' | <i class="fa fa-map-marker"></i> ' + nextJob.location);
    $('p#description').html(nextJob.description)
    $('h5#url').html(nextJob.url)
    $('.skills').empty();

    // Update Job id
    $('.next').attr('data-id', nextJob.id)

    event.preventDefault();
  })


// Job Object Constructor Function
function Job (id, title, description, companyName, url, location, created_at, category) {
  this.id = id;
  this.title = title;
  this.description = description;
  this.companyName = companyName;
  this.url = url;
  this.location = location;
  this.created_at = created_at;
  this.category = category;

  // Format created_at attribute function
  this.createdAt = function() {
    var monthNames = new Array("January", "February", "March",
    "April", "May", "June", "July", "August", "September",
    "October", "November", "December");
    var date = new Date(this.created_at);
    var day = date.getDate();
    var monthFormat = date.getMonth();
    var year = date.getFullYear();
    return monthNames[monthFormat].slice(0,3) + " " + day + "," + year
  };
}

</script>
